{% extends "base.html" %}

{% block title %}About – Ela Arts{% endblock %}

{% block content %}

<section class="about-section">
    <div class="about-container">

        <div class="about-image">
            <img src="/static/about.jpg" alt="Ela Arts Workspace">
        </div>

        <div class="about-text">
            <h1>Stop Motion & Digital Painting Artist</h1>

            <p>
                Welcome to Ela Arts, where my stop-motion creations—puppets, props, and everything in between—come to
                life.
                It’s also a place to explore and purchase my children’s books, greeting cards, and gifts.
            </p>

            <p>
                As a software engineer who always loves and appreciates works of art, I’m passionate about creating
                bilingual
                (Farsi & English) books for children, introducing them to the beautiful Persian culture and language.
            </p>

            <p>
                This space showcases my journey as a creator, sharing my love for crafting captivating stories through
                stop-motion animation and children’s books. I invite you to delve into the enchanting world of Ela Arts,
                where imagination knows no bounds.
            </p>
        </div>
    </div>
</section>

{% endblock %}
