{% extends "base.html" %}

{% block title %}Art Portfolio – Ela Arts{% endblock %}

{% block content %}

<section class="portfolio-section">
    <div class="portfolio-container">
        <section class="portfolio-hero">
            <h1 class="art-title">Art</h1>
            <p class="art-subtitle">
                Explore my work across mixed media paintings, stop‑motion puppetry, children’s books, and digital
                illustration.
            </p>
            <hr class="art-line">
        </section>
        <div class="art-list">
            <!-- ⭐ Sections Card -->
            {% for key, items in categories.items() %}
            {% set card = items[0] %}

            <a href="/portfolio-art/{{ card.slug }}" class="art-card">

                <div class="art-card-image">
                    {% if card.isVideo %}
                    <video src="{{ card.src }}" autoplay muted loop></video>
                    {% else %}
                    <img src="{{ card.image }}" alt="{{ card.title }}">
                    {% endif %}
                </div>

                <div class="art-card-content">
                    <h2>{{ card.title }}</h2>
                    <p class="art-desc">{{ card.description }}</p>

                </div>

            </a>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}
