{% extends "base.html" %}

{% block title %}Shop – Ela Arts{% endblock %}

{% block content %}

<section class="shop-section">
    <div class="shop-container">
        <section class="shop-hero">
            <h1>Bringing One-of-a-Kind Creations Straight to Your Door</h1>
            <div class="shop-hero-container">
                <p>
                    At Ela Arts, every piece is crafted with intention, personality, and heart. Our shop features a
                    curated
                    selection of handmade art, original mixed‑media paintings, bilingual children’s books, greeting
                    cards,
                    and handcrafted puppets — each created to bring joy, culture, and creativity into your life.
                    Whether you're looking to add a unique artwork to your home, find a meaningful gift for a child,
                    or bring a smile to someone special, you’ll discover something truly one‑of‑a‑kind here.
                    Shop now and experience the magic of Ela Arts!
                </p>

            </div>
        </section>

        <div class="shop-grid">

            {% for item in categories %}
            <a href="/shop/{{ item.slug }}" class="shop-card">

                <div class="shop-card-content top">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                </div>

                <img class="shop-card-image"
                     src="{{ item.image }}"
                     alt="{{ item.title }}">
            </a>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}
